@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto&family=Rubik+Beastly&display=swap');

*,
*::after
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    color: #3c5aa6;
}

/* Header */

.site-title {
    margin: 60px 0 40px;
    color: #3c5aa6;
    text-align: center;
    letter-spacing: 6px;
    font-family: "Roboto" sans-serif;
}

.heading {
    text-align: center;
    font-size: 50px;
}

.tag-line {
    margin: 20px;
    text-align: center;
    color: #3c5aa6;
    font-family: "Roboto" sans-serif;
    
}

/* Game board and Cards */

.board {
    display: flex;
    margin: auto;
    max-width: 1110px;
    flex-wrap: wrap;

}

.easy,
.medium {
    width: 740px;
}

.hard {
    max-width: 1110px;
}

.card {
    position: relative;
    float: left;
    margin: 5px;
    width: 175px;
    height: 175px;
    text-align: center;
}

.card-back,
.card-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;

}

.card-front {

    border: 8px solid #000;
    background-color: rgba(39, 109, 189, 0.5);
}

.card-back {
    border: 8px solid #000;
    background-color: #fff;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    padding: 5%;
    width: 100%;
    height: 100%;
}

/* Click Effect */

.card.flipped .card-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.flipped .card-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
 }

 /* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.counter,
.timer {
    width: 33%;
    text-align: center;
}

.info {
    color: rgb(248, 94, 94);
    letter-spacing: 4px;
    font-family: "Roboto" sans-serif;
    text-align: center;
}

.time {
    color: rgb(248, 94, 94);
    letter-spacing: 4px;
    font-family: "Roboto" sans-serif;
    text-align: center;
}

.data {
    letter-spacing: normal;
    font-family: "Roboto" sans-serif;
}
/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);

}

/* Modal close button */

.close {
    color: #aaa;
    font-family: "Roboto" sans-serif;
    width: 100%;
    text-align: center;
}